// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// EXPORTE L ENSEMBLE DES COULEURS DU NORD THEME
:root{
  //Polar Night
--nord0 : #2E3440;
--nord1 : #3B4252;
--nord2 :#434C5E;
--nord3 : #4C566A;

// Snow Storm
--nord4:#D8DEE9;
--nord5:#E5E9F0;
--nord6:#ECEFF4;

//Frost
--nord7:#8FBCBB;
--nord8:#88C0D0;
--nord9:#81A1C1;
--nord10:#5E81AC;

//Aurora
--nord11:#BF616A;
--nord12:#D08770;
--nord13:#EBCB8B;
--nord14:#A3BE8C;
--nord15:#B48EAD;
}


// DEFINI LA PALETTE POUR LE MODE CLAIR
body.body--light{
    --q-primary : var(--nord8);
    --q-secondary : var(--nord9);
    --q-accent: var(--nord7);
    --q-dark : var(--nord0);
    --q-info: var(--nord12);
    --q-warning: var(--nord13);
    --q-positive  : var(--nord14);
    --q-negative  : var(--nord11);

// AJOUTE  UNE COULEUR ELEVATED 
      .text-elevated{
        color: var(--nord4) !important;
      }
      .bg-elevated{
        background :var(--nord6) !important;
      }
    
// AJOUTE  UNE COULEUR CONTRAST 
    .text-contrast{
      color: var(--nord1) !important;
    }
    .bg-contrast{
      background :var(--nord1) !important;
    }
    
    .contrasted{
      background :var(--nord4) !important;
      color: var(--nord1) !important;
    }

// DEFINI LA COULEUR DE BACKGROUND DU BODY
  background-color: var(--nord6) !important;  
  }

// DEFINI LA PALETTE POUR LE MODE SOMBRE 
  body.body--dark{
    --q-primary : var(--nord8);
    --q-secondary : var(--nord9);
    --q-accent: var(--nord7);
    --q-dark : var(--nord1);
    --q-info: var(--nord12);
    --q-warning: var(--nord13);
    --q-positive  : var(--nord14);
    --q-negative  : var(--nord11);


// AJOUTE  UNE COULEUR ELEVATED 
    .text-elevated{
      color: var(--nord1) !important;
    }
    .bg-elevated{
      background :var(--nord1) !important;
    }

 // AJOUTE UNE CLASS CONTRAST QUI ADAPTE LA COULEUR DE TEXT ET DE FOND  
    .contrasted{
      background :var(--nord1) !important;
      color: var(--nord6) !important;
    }
    

    // COULEUR DU BACKGROUND 
    background-color: var(--nord0);
    color: var(--nord6);
  }

